<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zagelx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- we need to include api key inside manifest -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Authentication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TripsPackage.AddTripsActivity"
            android:parentActivityName=".TripsPackage.TripsActivity"
            android:windowSoftInputMode="stateHidden">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TripsPackage.TripsActivity" />
        </activity>
        <activity
            android:name=".OrdersPackage.AddOrdersActivity"
            android:parentActivityName=".OrdersPackage.OrdersActivity"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrdersPackage.OrdersActivity" />
        </activity>

        <activity android:name=".TripsPackage.TripsActivity"></activity>

        <activity android:name=".OrdersPackage.OrdersActivity"></activity>

        <activity android:name=".Authentication.AfterRegisterUserInfo"></activity>

        <activity
            android:name=".OrdersPackage.AddOrdersMapActivity"
            android:parentActivityName=".OrdersPackage.OrdersActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrdersPackage.OrdersActivity" />
        </activity>

        <activity android:name=".OrdersPackage.TestAddress"></activity>

        <activity
            android:name=".UserInfo.ProfileActivity"
            android:parentActivityName=".OrdersPackage.OrdersActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrdersPackage.OrdersActivity" />
        </activity>

        <activity
            android:name=".UserInfo.AboutUsActivity"
            android:parentActivityName=".OrdersPackage.OrdersActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrdersPackage.OrdersActivity" />
        </activity>

        <activity
            android:name=".UserInfo.NotificationsActivity"
            android:parentActivityName=".OrdersPackage.OrdersActivity">
            <intent-filter>
                <action android:name=".UserInfo.Notifications" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrdersPackage.OrdersActivity" />
        </activity>
        <activity
            android:name=".UserInfo.DashboardActivity"
            android:parentActivityName=".OrdersPackage.OrdersActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrdersPackage.OrdersActivity" />
        </activity>
        <activity
            android:name=".TripsPackage.AddTripsMapActivity"
            android:parentActivityName=".TripsPackage.TripsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TripsPackage.TripsActivity" />
        </activity>
        <activity android:name=".OrdersPackage.OrderDetails" >
            <intent-filter>
                <action android:name=".OrdersPackage.OrderDetails" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>>
        <activity android:name=".TripsPackage.TripsDetails" />
        <activity android:name=".OrdersPackage.OrdersRequestsActivity" />

        <service
            android:name=".Utilities.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>